Loops and function in Python

In [ ]:
def gate_advisor(gate_score, gap_year, last_hope, discipline):
    advice = None

    # Prioritize higher score cases for efficiency
    if gate_score >= 800:
        advice = "Revise gate syllabus and prepare for IIT interview"
    elif gate_score >= 700:
        advice = "Revise gate syllabus and prepare for IIT & NIT interview"
    elif 600 <= gate_score < 700 and 1 <= gap_year <= 2:
        advice = "Revise gate syllabus and prepare for IIT & NIT Mtech Research interview"
    elif 500 <= gate_score < 600 and 1 <= gap_year <= 2:
        advice = "Complete syllabus, gain job skills, apply for MTech Research at NITs and jobs"

    # Handle lower score and gap year case more efficiently
    elif 0 <= gate_score < 500 and 1 <= gap_year <= 3:
        if last_hope == "YES" and discipline == "YES":
            advice = """
            You need to work hard.
            Skill set: Python, PowerBi, DSA, Azure
       .     Plan:
            - Learn Python and PowerBi (10 days)
            - Learn DSA & Engineering Mathematics (2-3 months)
            - March-May: Ready for development role, analytics, and major GATE syllabus covered
            - June-July: Practice aptitude, revise, and hunt for IIT/NIT courses and jobs
            - Complete data analytics, ML, and AI in parallel
            - If not getting admission, keep job hunting, make Python projects, revise DBMS, and practice PYQs.
            - Don't fall into a mechanical job loop.
            """
        else:  # No need for further nested checks here; combine remaining cases
            advice = "Job hunt for any mechanical role and upskill accordingly."

    if advice is not None:
        print(advice)
    else:
        print("Prepare again")

gate_score = int(input('Enter your GATE score'))
drop_year = int(input("After graduation how many gap years you took"))
last_hope = input("Have you figured out a way to study for 10 hours consistently (Say yes or no) ").upper()
disipline = input("Are you ready to tolerate boredom, pain, give up cheap entertainment (Say yes or no) ").upper()

gate_advisor(gate_score, drop_year, last_hope, disipline)

Enter your GATE score462
After graduation how many gap years you took2
Have you figured out a way to study for 10 hours consistently (Say yes or no) yes
Are you ready to tolerate boredom, pain, give up cheap entertainment (Say yes or no) no
Job hunt for any mechanical role and upskill accordingly.

In [ ]:
l = [1,2,3,4,5,6,7,8]
l1 = []
for i in l:
  #print(i)
  l1.append(i+1)
  #print(l1)
print(l1)

[2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
u = ["Sidd", "vivek", "saurabh"]
u1 = []
for i in u :
   u1.append(i.upper())
print(u1)

['SIDD', 'VIVEK', 'SAURABH']

In [5]:
l = [1,2,3,4,5,'sidd','vivek','saurabh', 44, 44.55, "shushil"]
integer = []
string = []
for i in l :
   if type(i) == int or type(i) == float :
    integer.append(i)
   else :
    string.append(i)
print(integer)
print(string)

[1, 2, 3, 4, 5, 44, 44.55]
['sidd', 'vivek', 'saurabh', 'shushil']